# Virtual environment
venv/

# Compiled files
*.pyc
*.exe

# Logs and temporary files
*.log
tmp/

# IDE files
.idea/
.vscode/

# Configuration files
.env
config.py
settings.py

# User files#
user_files/*