<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='public/css/index_style.css') }}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet">
    <title>Inicio - C-Cloud</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <h2 class="logotipo">Cloud</h2>
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Html</a>
                <a href="#">Css</a>
                <a href="#">Js</a>
                <a href="#">Mi lista</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="lenguaje-programacion">
            <div class="contenedor">
                <h3 class="Titulo">Proyect Cloud</h3>
                <p class="descripcion">
                    Cloud es un servicio en la nube que ayuda a pequeñas 
                     y medianas empresas a simplificar y automatizar sus procesos
                     de recursos humanos. Con Cloudly, los propietarios de empresas pueden acceder 
                     a una plataforma en línea fácil de usar que les permite manejar todo
                      el ciclo de vida de los empleados, desde la contratación hasta 
                      la salida de la empresa.
                </p>
                <button role="button" class="boton"><i class="fa-sharp fa-solid fa-folder-open"></i>Entrar</button>
                <button role="button" class="boton"><i class="fa-sharp fa-solid fa-circle-info"></i>Informacion</button>
            </div>
		</div>
              
                <div class="Lenguaje-p">
                    <div class="contenedor-titulo-controles">
                    <h3>Lenguajes de Programacion</h3>
                    <div class="indicadores"></div>
                </div>

                <div class="contenedor-principal">
                <button role="button" id="flecha-izquirda" class="flecha-izquirda">
                <i class="fa-solid fa-arrow-left"></i></button>       
                
      
                <div class="contenedor-carousel">
                    <div class="carousel">
                     <div class="lenguaje">
                        <a href="#"><img src="{{ url_for('static', filename='public/img/html.jpg') }}" alt=""></a>
                    </div>
                    <div class="lenguaje">
                        <a href="#"><img src="{{ url_for('static', filename='public/img/css.png') }}" alt=""></a>
                    </div>
                    <div class="lenguaje">
                        <a href="#"><img src="{{ url_for('static', filename='public/img/js.png') }}" alt=""></a>
                    </div>
                    <div class="lenguaje">
                        <a href="#"><img src="{{ url_for('static', filename='public/img/Python.png') }}" alt=""></a>
                    </div>
                    <div class="lenguaje">
                        <a href="#"><img src="{{ url_for('static', filename='public/img//Java.jpg') }}" alt=""></a>
                    </div>
                    <div class="lenguaje">
                        <a href="#"><img src="{{ url_for('static', filename='public/img/dart.jpg') }}" alt=""></a>
                    </div>
                </div>
            </div>
            

                    <button role="button" id="flecha-derecha" class="flecha-derecha">
                   <i class="fa-solid fa-arrow-right"></i></button>      
                </div>
            </div>   
                    
    </main>
    


       
    <script src="https://kit.fontawesome.com/53ed3af625.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='public/js/main.js') }}"></script>
</body>
</html>