{% extends 'logged.base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<!--
    <div class="card-group">
        {% for file in files %}
            <div class="card text-bg-dark shadow">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ file.name }}</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-light">{{ file.update_time }}</small>
                </div>
            </div>
        {% endfor %}
    </div> 
-->
  {% if 'user_id' in session %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-light">Compartir</button>
            <button type="button" class="btn btn-sm btn-outline-light">Exportar</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-light dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-calendar align-text-bottom" aria-hidden="true">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
            Esta semana
        </button>
    </div>
</div>

<h2>Librería</h2>
<div class="table-responsive overflow-y-scroll" id="files">
    <table class="table table-responsive text-white table-borderless overflow-y-scroll">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col">Última modificación</th>
                <th scope="col">Extensión</th>
            </tr>
        </thead>
        <tbody style="max-height: 30vh; overflow-y: hidden;">
            {% if not files %}
            <td colspan="7">No resultados</td>
            {% else %}
            {% for file in files %}
                {% if file.name == "old" %}
                {% else %}
                <tr id="{{ loop.index }}">
                    <td>
                        <a href="/load_file_blank/{{ file.name }}" target="_blank" rel="noopener noreferrer"
                            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                            {{ file.name }}
                        </a>
                    </td>
                    <td>{{ file.creation_time }}</td>
                    <td>{{ file.update_time }}</td>
                    <td>{{ file.extension }}</td>
                    <td>
                        <button type="button" class="btn text-white rounded-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                        </button>
                        <button type="button" class="btn text-white rounded-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path
                                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            </svg>
                        </button>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
   {% endif %}
{% endblock %}