{% extends 'logged.base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    {% if 'user_id' in session %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-outline-light align-middle" data-bs-toggle="modal" data-bs-target="#report-error">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
                Hacer un reporte
            </button>
        </div>
        <div class="modal fade" id="report-error" tabindex="-1" aria-labelledby="Commands" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-dark text-light">
                    <div class="modal-header border-bottom-0" data-bs-theme="dark">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Reportar error</h1>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="p-2 col-10 mx-auto">
                            <label class="form-label" for="error-topic">Asunto</label>
                            <input type="text" class="form-control" id="error-topic" placeholder="Lorem ipsum" data-bs-theme="dark">
                        </div>
                        <div class="p-2 col-10 mx-auto">
                            <label for="report">Describa el error:</label>
                            <textarea name="report" id="report-body" class="form-control" data-bs-theme="dark"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="send-report-btn">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Librería</h2>
    <div class="table-responsive overflow-y-scroll" id="files">
        <table class="table text-white table-borderless overflow-y-scroll align-middle" id="search-deleted-file">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de creación</th>
                    <th scope="col">Última modificación</th>
                    <th scope="col">Extensión</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody style="max-height: 30vh; overflow-y: hidden;" class="align-middle">
                {% if not files %}
                <td colspan="5" class="align-middle text-center">No se han encontrado archivos eliminados.</td>
                <td colspan="0"></td>
                <td colspan="0"></td>
                <td colspan="0"></td>
                <td colspan="0"></td>

                {% else %}
                {% for file in files %}
                    <tr id="{{ file.idfile }}">
                        <td class="align-middle">
                            <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                {{ file.name }}
                            </a>
                        </td>
                        <td class="align-middle">{{ file.creation_time }}</td>
                        <td class="align-middle">{{ file.update_time }}</td>
                        <td class="align-middle">{{ file.extension }}</td>
                        <td class="align-middle">
                            <button type="button" class="btn text-white rounded-circle" id="delete-file-btn" data-file="{{ file.name }}" title="Borrar permanentemente" onclick="confirmDelete(this.dataset.file)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                            <button type="button" class="btn text-white rounded-circle" id="restore-file-btn" data-file="{{ file.name }}" title="Restaurar" onclick="confirmRestore(this.dataset.file)"> {# bucle for para a;adir indices a las filas del archivo, tomarlos con this.value o algo asi #}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        var jq = jQuery.noConflict();
        jq(document).ready(function () {
            jq('#search-deleted-file').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-MX.json' // Ruta al archivo de traducción en español
                }
            });
        });
    </script>
   {% endif %}
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='public/js/trash.js') }}"></script>
{% endblock %}