<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">    
    <link rel="stylesheet" href="{{ url_for('static', filename='public/css/form_style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav class="nav justify-content-end my-2 shadow" id="nav">
            <ul class="nav">
                <!-- if active -> bg-primary bg-gradient link-button -->
                <li class="nav-item rounded-lg">
                  <a class="nav-link text-light" href="/" id="index">Inicio</a>
                </li>
                <li class="nav-item rounded-lg">
                  <a class="nav-link text-light" href="/login" id="login">Iniciar sesión</a>
                </li>
                <li class="nav-item rounded-lg">
                  <a class="nav-link text-light" href="/signup" id="signup">Registrarse</a>
                </li>
                <input type="hidden" id="title" value="{{ title }}">
              </ul>
        </nav>
    </div>

    

    {% block body %}
    {% endblock %}

    <footer class="object-fit-fill ">
        <div class="container">
            <footer class="pt-5">
              <div class="row text">
                <div class="col-6 col-md-2 mb-3">
                  <h5>Section</h5>
                  <ul class="nav flex-column text ligh">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">About</a></li>
                  </ul>
                </div>
          
                <div class="col-6 col-md-2 mb-3">
                  <h5>Section</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">About</a></li>
                </ul>
            </div>
            
            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-light">About</a></li>
                </ul>
            </div>
            
            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
            <p>© 2022 Company, Inc. All rights reserved.</p>
            <!-- <button class="sticky-bottom float-end go-top"><img src="https://cdn-icons-png.flaticon.com/512/130/130906.png" alt=""></button> -->
        </div>
    </footer>
</div>
</footer>
<script>
  function adjustNavClass() {
    var nav = document.getElementById("nav");
    if (window.innerWidth < 900) {
      nav.classList.remove("justify-content-end");
      nav.classList.add("justify-content-center");
    } else {
      nav.classList.remove("justify-content-center");
      nav.classList.add("justify-content-end");
    }
  }

  function activateNavLink() {
    let title = document.getElementById("title");
    console.log(title.value);
    var active;
    
    if (title.value == "index") {

    } else if (title.value == 'Iniciar sesión') {
      active = document.getElementById('login');
      active.classList.add('active','bg-primary','bg-gradient','border-0','rounded-pill');
    } else if (title.value == 'Registrarse') {
      active = document.getElementById('signup');
      active.classList.add('active','bg-primary','bg-gradient','border-0','rounded-pill');
    }
  }
  
  // Call the function once on page load
  adjustNavClass();
  activateNavLink();
  
  // Call the function every time the window size changes
  window.addEventListener("resize", adjustNavClass);
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>