{% extends 'logged.base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% if last_licence_id ==3 %}
<style>
   @import url('https://fonts.cdnfonts.com/css/gotham-bold');
   @import url('https://fonts.cdnfonts.com/css/gotham-book');
    .bg-gray {
      background-color: #ccc;
      height: 50%;
      display: flex;
      align-items: center;
    }

    .card {
      height: 500px;
    }

    .btn-custom {
      background-color: transparent;
      border: 2px solid #000;
      color: #000;
      font-weight: bold;
      font-size: 18px;
      padding: 5px 15px;
      border-radius: 15px;
    }

    .card-title {
      font-size: 36px;
      text-align: left;
      margin-left: 30px;
      font-family: 'Gotham Bold', sans-serif;
    }

    .btn-join {
      margin-top: 20px;
    }

    .feature-list {
      margin-left: 20px;
      list-style: none;
      padding-left: 0;
      line-height: 2;
      font-family: 'Gotham Book', sans-serif;
    }

    .bold-text {
      font-weight: bold;
    }
    .bg-gray{
      background-color: #9999 !important;
    }

    .plan-heading {
      font-size: 24px;
      text-align: center;
      font-family: 'Gotham Bold', sans-serif;
    }

    .plan-content {
      font-family: 'Gotham Book', sans-serif;
    }
  </style>
{% endif %}
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
        <div class="h-screen flex-grow-1 overflow-y-lg-auto">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Mi Plan</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button type="button" class="btn btn-sm btn-outline-light align-middle" data-bs-toggle="modal" data-bs-target="#report-error">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                        </svg>
                        Hacer un reporte
                    </button>
                </div>
                <div class="modal fade" id="report-error" tabindex="-1" aria-labelledby="Commands" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-dark text-light">
                            <div class="modal-header" data-bs-theme="dark">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Reportar error</h1>
                                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="p-2 col-10 mx-auto">
                                    <label class="form-label" for="error-topic">Asunto</label>
                                    <input type="text" class="form-control" id="error-topic" placeholder="Lorem ipsum" data-bs-theme="dark">
                                </div>
                                <div class="p-2 col-10 mx-auto">
                                    <label for="report">Describa el error:</label>
                                    <textarea name="report" id="report-body" class="form-control" data-bs-theme="dark"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="send-report-btn">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <main class="py-6 bg-surface-secondary overflow-y-scroll">
                <div class="container-fluid overflow-y-scroll">
                    <div class="row shadow overflow-y-scroll" id="data-container" style="overflow-x: hidden !important; overflow-y: hidden !important;">
                        <div class="col-xl-10 mx-auto">
                            </br>

                            {% if newplan %}
                           <div class="alert alert-info alert-dismissible" style=" max-width: 766px; margin: 0 auto;">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="color: white; opacity: 1;">×</button>
                                <h5><i class="fa-solid fa-pen-to-square fa-bounce" style="margin-right: 10px; !important"></i>Detalles de tu plan</h5>
                                {{ newplan }}
                           </div>
                           <br>
                           {% endif %}
                            {% if last_licence_id == 3 %}
                             <div class="container">

                              <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <div class="card">
                                           <div class="card-header bg-gray">
                                                <h5 class="card-title" style="
                                                                         color: black;
                                                                                    ">C-Cloud Gratis <br> <a href="/licences" class="btn btn-custom btn-join">Únete a Premium</a> </h5>
                                            </div>
                                            <div class="card-body" style="
                                                                             background-color: #000000;
                                                                     color: white;
                                                    ">
                                            <b><p class="card-text plan-content">Almacenamiento limitado</p></b>
                                            <br>
                                                <ul class="card-text feature-list">
                                                    <li><i class="fas fa-hdd" style="margin-right: 10px;"></i> 500 MB de SSD</li>
                                                    <li><i class="fas fa-clock" style="margin-right: 10px;"></i> No tiene soporte 24/7</li>
                                                    <li><i class="fas fa-cloud-upload-alt" style="margin-right: 10px;"></i> No tiene copias de seguridad automáticas</li>
                                                    <li><i class="fas fa-lock" style="margin-right: 10px;"></i> Acceso seguro</li>
                                                    <li><i class="fas fa-layer-group" style="margin-right: 10px;"></i> Peso máximo por archivo: 10 MB</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                              </div>

                            </div>
                             {% endif %}
                                                  </div>
                                              </div>
                                          </div>
                                      </main>
                                  </div>
                              </div>
{% endblock %}
{% block script %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

<script src="{{ url_for('static', filename='public/js/dashboard.js') }}"></script>
{% endblock %}