* {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    background-color: #212529;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
    background-color: #212529;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
    background-color: #515151;
    border-radius: 16px;
    border: 4px solid #212529;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
    display: none;
}

body {
    overflow-y: hidden;
    background-color: #131314;
}
#editor {
    margin-top: 77px !important;
    font-size: 14px;
    position: absolute;
    width: 100%;
    height: 91.5%;
    border-top: 1px solid rgba(200, 200, 200, 0.5);
}

#files {
    max-height: 70vh;
}

/* table tbody tr:hover {
    transition: ease-in 0.1s;
    background-color: rgba(117, 117, 217, 0.1);
} */

.dropdown-menu {
    line-height: 17px;
    font-size: 15px;
    width: 20px;
}

#hover-dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    display: none;
}

#filename {
    width: 250px;
}

.swal-overlay {
    background-color: rgba(200, 200, 200, 0);
}

.swal-modal {
    background-color: #212529;
}

.swal-text, .swal-title {
    color: #fff !important;
}

.swal-icon.swal-icon--success {
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
    box-shadow: none !important;
}

.swal-icon.swal-icon--success::after {
    background-color: rgba(0,0,0,0) !important;
    background-image: none !important;
}

.swal-icon.swal-icon--success::before {
    background-color: rgba(0,0,0,0) !important;
    background-image: none !important;
}

.swal-icon--success__hide-corners {
    background-color: rgba(0,0,0,0) !important;
    background-image: none !important;
}



.swal-button--premium {
    background-color: #39347e;
}

.swal-button--premium:hover {
    background-color: #39347e !important;
}

.swal-button--cancel {
  background-color: #dd3333; /* Estilo personalizado para el botón "Cancelar" */
  color: white;
}

.swal-button--cancel:not([disabled]):hover {
  background-color: #dd3333 !important;
  color: white;
}

.swal-button--neutral {
  background-color: #999999; /* Estilo personalizado para el botón "Neutral" */
}

.swal-button--neutral:not([disabled]):hover {
  background-color: #999999 !important;
}

.swal-button--deny {
  background-color: #ff8800; /* Estilo personalizado para el botón "Denegar" */
}

.swal-button--deny:not([disabled]):hover {
  background-color: #ff8800 !important;
}

@media only screen and (max-width: 990px) {
    nav img {
        margin: 5px !important;
    }

    nav {
        height: 65px !important;
    }

    #editor {
        margin-top: 65px !important;
    }
}

